/* //body .body-bg{ */
    /* background: radial-gradient(circle, rgba(27,28,74,1) 0%, rgba(15,9,14,1) 93%, rgba(18,16,46,1) 100%); */
    /* background-image: url(view/images/logo2.png); */
    /* background-color: red; */

.small-box {
    max-width: 600px;

}

.bg_top{
    background-color: rgb(16, 242, 16);
}

.test{
    background-color: rgb(13, 10, 110);
}


